*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	background-origin: border-box;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
button{
	border: 0px;
	padding: 1px 6px;
}
ul{
	padding-left: 0px;
	list-style-type: none;
	font-size: 0;
}
ul li{
	font-size: 14px;
}
a{
	text-decoration: none;
	color: black;
}
table{
	width:100%;
}
input[type=submit]{
	border: 0px;
	padding: 1px 6px;
}